.hero-yourbadgesoverlay{
    padding: 53px 0;
}
.yourbadges{
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.card-3{
    mix-blend-mode: luminosity;
}



@media (min-width: 426px) and (max-width: 834px){
    
    
}

@media (min-width: 835px) and (max-width: 2560px){
    .hero-yourbadgesoverlay{
        margin: 146px 15px 0;
    }
    .hero-overlay {
        margin: 146px 15px 0;
    }
}