.readytojoin-section{
    color: $black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.readytojoin-title{
    font-family: $heading-font;
    padding: 10px 5px;
    margin: 10px 0;
}
.readytojoin-text1{
    margin: 0 auto 30px;
    padding: 0 35px;
}
.readytojoin-text2{
    margin: 0 auto 30px;
    padding: 0 35px;
}
.readytojoin-img{
    width: 70%;
    margin: 0 auto 20px;
}
@media (min-width: 426px) and (max-width: 834px){
    .readytojoin-img {
        width: 35%;
        margin: 0 auto;
        padding-bottom: 20px;
    }
}

@media (min-width: 835px) and (max-width: 2000px){
    .readytojoin-img {
        height: 400px;
        width: 43%;
        margin: 0 auto;
        padding-bottom: 20px;
    }
}