.hero-manageeventsoverlay{
    padding: 53px 0;
}
.event-card{
    text-align: center;
    padding-top: 33px;
    width: 227px;
    height: 245px;
    color: $white;
    font-family: $heading-font;
    background-color: $liberalistblue;
    border-radius: 26px;
}
.event-card-img{
    width: 80%;
}
.event-card-1{
    height: 300px;
    background-color: $liberalistblue;
}
.event-card-2{
    height: 300px;
    background-color: $pantoneyellow;
    color: $black;
}
.event-card-3{
    height: 300px;
    background-color: $maldives;
}
.event-card-4{
    height: 300px;
    background-color: $verditer;
}
.event-card-5{
    height: 300px;
    background-color: $orangered;
}
.event-card-title-1{
    color: $white;
    margin-bottom: 7px;
}
.event-card-title-3{
    color: $white;
    margin-bottom: 7px;
}
.event-card-title-4{
    color: $white;
    margin-bottom: 7px;
}
.event-card-title-5{
    color: $white;
    margin-bottom: 7px;
}
.btn-event-delete{
    background-color: $toriired;
    color: $white;
    border: 2px solid $black;
}
.btn-event-delete:hover{
    background-color: $forrestride;
    color: $white;
    border: none;
}
.btn-event-hide{
    background-color: $forrestride;
    color: $white;
    border: none;
}
.btn-event-hide:hover{
    background-color: $forrestride;
    color: $white;
    border: none;
}






@media (min-width: 426px) and (max-width: 834px){
    
    
}

@media (min-width: 835px) and (max-width: 2560px){
    .hero-manageeventsoverlay{
        margin: 146px 15px 0;
    }
    .hero-overlay {
        margin: 146px 15px 0;
    }
}