.hero-scoutleaderoverlay {
    padding: 53px 0;
}

.dashboardcards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 65px;
    color: $white; // Assuming $white represents white color
    margin: 30px 0;
}

.managecubscouts-card {
    text-align: center;
    padding-top: 33px;
    width: 227px;
    height: 245px;
    color: $white;
    font-family: $heading-font;
    background-color: $liberalistblue; // Assuming $liberalistblue represents a specific blue color
    border-radius: 26px;
}

.managegallery-card {
    text-align: center;
    padding-top: 33px;
    width: 227px;
    height: 245px;
    color: $black; // Assuming $black represents black color
    font-family: $heading-font;
    background-color: $pantoneyellow; // Assuming $pantoneyellow represents a specific yellow color
    border-radius: 26px;
}

.helpers-card {
    text-align: center;
    padding-top: 33px;
    width: 227px;
    height: 245px;
    color: $white;
    font-family: $heading-font;
    background-color: $maldives; // Assuming $maldives represents a specific color
    border-radius: 26px;
}

.manageevents-card {
    text-align: center;
    padding-top: 33px;
    width: 227px;
    height: 245px;
    color: $white;
    font-family: $heading-font;
    background-color: $verditer; // Assuming $verditer represents a specific color
    border-radius: 26px;
}

.managecubscouts-cardimg,
.managegallery-cardimg,
.helpers-cardimg,
.manageevents-cardimg {
    width: 80%;
    margin-bottom: 20px;
    height: 133px;
}

@media (min-width: 835px) and (max-width: 2560px) {
    .hero-scoutleaderoverlay {
        margin: 146px 15px 0;
    }
    .hero-overlay {
        margin: 146px 15px 0;
    }
}
