.hero-emergencyaidbadgeoverlay{
    padding: 53px 0;
}



@media (min-width: 426px) and (max-width: 834px){
    
    
}

@media (min-width: 835px) and (max-width: 2560px){
    .hero-emergencyaidbadgeoverlay{
        margin: 146px 15px 0;
    }
    .hero-overlay {
        margin: 146px 15px 0;
    }
}