.hero-bgimg{
    background-image: url(assets/img/obanshirecubscouts-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 38vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.hero-overlay{
    background-color: $hero-overlaybg;
    color: $white;
    font-family: $heading-font;
    text-align: center;
    margin: 44px 15px 0;
    padding: 15px 0;
}

@media (min-width: 426px) and (max-width: 834px){
    .hero-overlay{
        margin: 70px 15px 0;
    }
    .hero-bgimg{
        height: 39vh;
    }
}

@media (min-width: 835px) and (max-width: 1440px){
    .hero-bgimg{
        height: 69vh;
    }
    .hero-overlay{
        margin: 44px 15px 0;
    }
    .gallery-images .gallery-imgs{
        width: 33.33%;
    }
}