.hero-loginoverlay{
    padding: 53px 0;
}
.login{
    font-family: $heading-font;
    text-align: center;
}
.login-title{
    margin-bottom: 20px;

}
.loginform{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $text-font;
}
.login-text{
    margin-bottom: 20px;
}
.login-username{
    border: 1px solid $black;
    padding: 5px;
    border-radius: 26px;
    margin-bottom: 20px;

}
.login-password{
    border: 1px solid $black;
    padding: 5px;
    border-radius: 26px;
    margin-bottom: 20px;
}

@media (min-width: 426px) and (max-width: 834px){
    .hero-loginoverlay{
        padding: 53px 0;
    }
    
}

@media (min-width: 835px) and (max-width: 2560px){
    .hero-loginoverlay{
        padding: 53px 0;
        margin: 146px 15px 0;
    }
    .hero-overlay {
        margin: 146px 15px 0;
    }
}