@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

$forrestride: #006900;
$green: #008000;
$pantoneyellow: #FFD700;
$liberalistblue: #0D47A1;
$orangered: #FF4500;
$toriired: #D83A00;
$spacebattleblue: #490499;
$maldives: #00B6E3;
$verditer: #00BFA5;
$black: #000;
$white: #fff;
$hero-overlaybg: #00000080;
$transparent: transparent;

$text-font: sans-serif;
$heading-font: 'Figtree', sans-serif;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  border-bottom: 2px solid #000;
}
a{
    text-decoration: none;
    color: $black;
    padding-bottom: 25px;
}
h1 h2 h3 h4 h5 h6{
    font-family: $heading-font;
    color: $black;
}
p{
    font-family: $text-font;
}
.btn{
    font-family: $heading-font;
    padding: 4px 60px;
    border: 2px solid $spacebattleblue;
    background-color: $spacebattleblue;
    color: $white;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    border-radius: 15px;
    transition: all 0.3s ease;
    margin:0 auto 30px;
}
.btn:hover{
    background-color: $transparent;
    color: $spacebattleblue
}
img{
    width: 100%;
    height: auto
}
footer{
    border-top: 2px solid $black;
    padding: 20px 0;
}
@import './naviagtion.scss';

@import './hero.scss';

@import './clubinfo.scss';

@import './whyjoin.scss';

@import './readytojoin.scss';

@import './footer.scss';

@import './gallery.scss';

@import './badges.scss';

@import './contact.scss';

@import './localinfo.scss';

@import './generalinfo.scss';

@import './login.scss';

@import './register.scss';
