@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

$forrestride: #006900;
$green: #008000;
$pantoneyellow: #FFD700;
$liberalistblue: #0D47A1;
$orangered: #FF4500;
$toriired: #D83A00;
$spacebattleblue: #490499;
$maldives: #00B6E3;
$verditer: #00BFA5;
$black: #000;
$white: #fff;
$hero-overlaybg: #00000080;
$transparent: transparent;

$text-font: sans-serif;
$heading-font: 'Figtree', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  border-bottom: 2px solid #000;
}

a {
  text-decoration: none;
  color: $black;
  padding-bottom: 25px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
}
p {
  font-family: $text-font;
}

.btn {
  font-family: $heading-font;
  padding: 4px 60px;
  border: 2px solid $spacebattleblue;
  background-color: $spacebattleblue;
  color: $white;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  border-radius: 15px;
  transition: all 0.3s ease;
  margin: 0 auto 30px;
}

.btn:hover {
  background-color: $transparent;
  color: $spacebattleblue;
}

img {
  width: 100%;
  height: auto;
}

footer {
  border-top: 2px solid $black;
  padding: 20px 0;
}

@import './naviagtion.scss';

@import './hero.scss';

@import './home/clubinfo.scss';

@import './home/whyjoin.scss';

@import './home/readytojoin.scss';

@import './footer.scss';

@import './gallery/gallery.scss';

@import './badges/badges.scss';

@import './contact/contact.scss';

@import './localinfo/localinfo.scss';

@import './generalinfo/generalinfo.scss';

@import './login/login.scss';

@import './register/register.scss';

@import './cubscouts/dashboard.scss';

@import './helper/helperdashboard.scss';

@import './scoutleader/scoutleaderdashboard.scss';

@import './cubscouts/games.scss';

@import './cubscouts/uploadimage.scss';

@import './cubscouts/yourbadges.scss';

@import './cubscouts/matchinggame.scss';

@import './cubscouts/cubscoutquiz.scss';

@import './helper/viewhelpers.scss';

@import './helper/applyfortraining.scss';

@import './helper/events.scss';

@import './scoutleader/managecubscouts.scss';

@import './scoutleader/managegallery.scss';

@import './scoutleader/manageevent.scss';

@import './badges/communicatorcub-badge.scss';

@import './badges/equestiancub-badge.scss';

@import './badges/firesafetycub-badge.scss';

@import './badges/localknowlegecub-badge.scss';

@import './badges/naturalistcub-badge.scss';

@import './badges/roadsafetycub-badge.scss';

@import './badges/wateractivitescub-badge.scss';

@import './badges/camperscoutbadge.scss';

@import './badges/communicatorscoutbadge.scss';

@import './badges//equestrianscoutbadge.scss';

@import './badges//emergencyaidbadge.scss';

@import './badges//nauticalskillsbadge.scss';

@import './badges/navigatorbadge.scss';