.whyjoin-section{
    background-color: $spacebattleblue;
    color: $white;
    display: flex;
    flex-direction: column;
}
.whyjoin-title{
    font-family: $heading-font;
    text-align: center;
    color: $white;
    padding: 10px 5px;
    margin: 10px 0;
}
.whyjoin-text1{
    font-family: $text-font;
    margin-bottom: 30px;
    margin: 0 auto 30px;
    padding: 0 35px;
}
.whyjoin-text2{
    padding: 35px;
}
.whyjoin-img{
    width: 70%;
    margin: 0 auto;
    padding-bottom: 20px;
}